@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var data = TempData["dataMsg"].ToString();
    TempData.Keep();
}
<p>Second Page</p>
<p>Message:@data</p>

<a href="/Employee/Third">Goto Page 3</a>