@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color:red">Welcome to Hall Details</h1>
<br />

@using(Html.BeginForm("Search","Home"))
{
    <span>Enter the hall budget per day:</span>
    @Html.TextBox("hallBudget")
    <input type="submit" id="getHalls" value="Get Halls" />
}